{% extends 'all-photos/base.html' %}
{% block content %}
{{block.super}}
<style>
  body{
      background-image: url("https://www.pexels.com/photo/bird-s-eye-view-bright-car-colors-1670457/");
      
  }
</style>

<div class="container" style="color: brown;margin-top:60px;">
    <div class="row center-block">
        
        {% for photo in photos %}
        <div class="col-md-4 col-md-4 col-md-4">
            <img src="{{photo.image.url}}" class="img-responsive img-fluid img-thumbnail"
                style="width: 100%;height:300px" data-toggle="modal" data-target="#{{ photo.id }}"
                data-backdrop="false">
                <a href="/image/{{photo.id}} " class="btn btn-primary">learn more</a>
        </div>
        <!-- Modal -->
        <div class="modal fade right" id="{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-full-height modal-right" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title w-100 text-center" id="imagetitle"> {{photo.image_name}}</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body ">
                        <img class="card-img-top img-responsive" id="img{{image.id}}" src="{{photo.image.url}}"
                            alt="Card image cap">
                        <p class="card-text photo ">Photo description : {{photo.image_description}}.</p>
                        <p class="card-text shot">Taken in: {{photo.location.name}}</p>
                        <p class="card-text cate">Category: {{photo.category.name}}</p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="text" value="http://127.0.0.1:8000{{photo.image.url}}" id="myInput">
                        
                            <button onclick="myFunction()" onmouseout="outFunc()" id="">
                                <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
                                Copy text
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
        alert("You have sucessfully copy");
    }
    function outFunc() {
        var tooltip = document.getElementById("myTooltip");
        tooltip.innerHTML = "Copy to clipboard";
        }
</script>
{% endblock %}